body {
	background-color: #FFFFFF;
	color: black ;
	font-family: verdana, palatino, Helvetica;
	height: 100%;
	display: block;
}

html {
    height: 100%;
}

/*
#productsTbl tr:first-child td {
    vertical-align: top;
}
*/
